.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainInner{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--text-dark);
}

.article {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  padding: 35px;
  width: 75%;
}

.article a{
  color: var(--text);
}

.text {
  width: 50%;
  color: var(--text);
  padding: 0 35px 35px;
}

.text h2 {
  font-weight: 400;
  margin-top: 0;
}

.form {
  padding: 0 35px;
  width: 50%;
  border-left: 1px solid var(--border);
}

.lablesAndInputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.labelInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.labelInput label {
  margin: 3px 0;
  color: var(--text);
}

.labelInput input {
  background-color: var(--background);
  border: 1px solid var(--border);
  box-shadow: var(--input-shadow);
  color: var(--text);
  padding-left: 3px;
}

.labelInput input:focus-visible {
  border: 1px solid var(--input-focus);
  outline: none;
  color: var(--text);
}

.labelInput input:-webkit-autofill,
.labelInput input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.labelInput textarea {
  background-color: var(--background);
  border: 1px solid var(--border);
  box-shadow: var(--input-shadow);
  height: 150px;
  resize: none;
  color: var(--text);
  font-family: var(--font-mono) ;
}

.labelInput textarea:focus-visible {
  border: 1px solid var(--input-focus);
  outline: none;
  color: var(--text);
  font-family: var(--font-mono);
}

.errorOuter{
  display: flex;
  justify-content: center;
}

.error{
  width: 100%;
  background-color: rgb(253, 237, 237);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 16px;
  border-radius: 4px;
  margin: 15px 0;
  color: rgb(95, 33, 32);
}

.error svg{
  color: #d32f2f
}

.successOuter{
  display: flex;
  justify-content: center;
}

.success{
  width: 100%;
  background-color: rgb(238, 253, 237);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 16px;
  border-radius: 4px;
  margin: 15px 0;
  color: rgb(36, 95, 32);
}

.success svg{
  color: #46ae21
}

.spinnerOuter{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin-left: 15px;
}

.buttonOuter{
  display: flex;
  align-items: center;

}
@media only screen and (max-width: 875px) {
  .main {
    padding: 15px;
    margin-top: 115px;
  }

  .title{
    text-align: center;
    width: 75%;
  }

  .article {
    flex-direction: column;
    width: 100%;
  }

  .text {
    width: unset;
    padding: 0 0 15px 
  }

  .form {
    padding: 35px 0 0;
    border-left: unset;
    border-top: 1px solid var(--border);
    width: unset;
  }

  .labelInput input {
    min-width: 151px;
  }
}
